/* .intro {
  font-weight: bold;
  font-size: medium;
}

.ques {
  font-weight: 600;
  padding-top: 20px;
}

.para {
  font-weight: 300;
  padding-top: 16px;
}

.para-points {
  padding-left: 20px;
  line-height: 30px;
  font-size: small;
}

.para-conclu {
  padding-top: 20px;
  line-height: 30px;
} */
